In [7]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn as sk

In [10]:
df = pd.read_csv('E:/4 курс/Интелеетуальный анализ данных/Кластеризация/Страны/CIA_Country_Facts.csv')

In [11]:
df

,Country,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
0,Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,48.0,0.00,23.06,163.07,700.0,36.0,3.2,12.13,0.22,87.65,1.0,46.60,20.34,0.380,0.240,0.380
1,Albania,EASTERN EUROPE,3581655,28748,124.6,1.26,-4.93,21.52,4500.0,86.5,71.2,21.09,4.42,74.49,3.0,15.11,5.22,0.232,0.188,0.579
2,Algeria,NORTHERN AFRICA,32930091,2381740,13.8,0.04,-0.39,31.00,6000.0,70.0,78.1,3.22,0.25,96.53,1.0,17.14,4.61,0.101,0.600,0.298
3,American Samoa,OCEANIA,57794,199,290.4,58.29,-20.71,9.27,8000.0,97.0,259.5,10.00,15.00,75.00,2.0,22.46,3.27,NaN,NaN,NaN
4,Andorra,WESTERN EUROPE,71201,468,152.1,0.00,6.60,4.05,19000.0,100.0,497.2,2.22,0.00,97.78,3.0,8.71,6.25,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
222,West Bank,NEAR EAST,2460492,5860,419.9,0.00,2.98,19.62,800.0,NaN,145.2,16.90,18.97,64.13,3.0,31.67,3.92,0.090,0.280,0.630
223,Western Sahara,NORTHERN AFRICA,273008,266000,1.0,0.42,NaN,NaN,NaN,NaN,NaN,0.02,0.00,99.98,1.0,NaN,NaN,NaN,NaN,0.400
224,Yemen,NEAR EAST,21456188,527970,40.6,0.36,0.00,61.50,800.0,50.2,37.2,2.78,0.24,96.98,1.0,42.89,8.30,0.135,0.472,0.393
225,Zambia,SUB-SAHARAN AFRICA,11502010,752614,15.3,0.00,0.00,88.29,800.0,80.6,8.2,7.08,0.03,92.90,2.0,41.00,19.93,0.220,0.290,0.489
226,Zimbabwe,SUB-SAHARAN AFRICA,12236805,390580,31.3,0.00,0.00,67.69,1900.0,90.7,26.8,8.32,0.34,91.34,2.0,28.01,21.84,0.179,0.243,0.579

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227 entries, 0 to 226
Data columns (total 20 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Country                             227 non-null    object
 1   Region                              227 non-null    object
 2   Population                          227 non-null    int64
 3   Area (sq. mi.)                      227 non-null    int64
 4   Pop. Density (per sq. mi.)          227 non-null    float64
 5   Coastline (coast/area ratio)        227 non-null    float64
 6   Net migration                       224 non-null    float64
 7   Infant mortality (per 1000 births)  224 non-null    float64
 8   GDP ($ per capita)                  226 non-null    float64
 9   Literacy (%)                        209 non-null    float64
 10  Phones (per 1000)                   223 non-null    float64
 11  Arable (%)                          225 non-null    float64
 12  Crops (%)                           225 non-null    float64
 13  Other (%)                           225 non-null    float64
 14  Climate                             205 non-null    float64
 15  Birthrate                           224 non-null    float64
 16  Deathrate                           223 non-null    float64
 17  Agriculture                         212 non-null    float64
 18  Industry                            211 non-null    float64
 19  Service                             212 non-null    float64
dtypes: float64(16), int64(2), object(2)
memory usage: 35.6+ KB

In [13]:
df.isnull().sum ()

Country                                0
Region                                 0
Population                             0
Area (sq. mi.)                         0
Pop. Density (per sq. mi.)             0
Coastline (coast/area ratio)           0
Net migration                          3
Infant mortality (per 1000 births)     3
GDP ($ per capita)                     1
Literacy (%)                          18
Phones (per 1000)                      4
Arable (%)                             2
Crops (%)                              2
Other (%)                              2
Climate                               22
Birthrate                              3
Deathrate                              4
Agriculture                           15
Industry                              16
Service                               15
dtype: int64

In [14]:
df[['Literacy (%)', 'Phones (per 1000)', 'Arable (%)', 'Crops (%)', 'Other (%)', 'Climate', 'Birthrate', 'Deathrate', 
    'Agriculture', 'Industry', 'Service', 'Net migration', 'Infant mortality (per 1000 births)', 'GDP ($ per capita)']] = df[['Literacy (%)', 'Phones (per 1000)', 'Arable (%)', 'Crops (%)', 'Other (%)', 'Climate', 'Birthrate', 'Deathrate', 
    'Agriculture', 'Industry', 'Service', 'Net migration', 'Infant mortality (per 1000 births)', 'GDP ($ per capita)']]. fillna (0)

In [15]:
df.isnull().sum ()

Country                               0
Region                                0
Population                            0
Area (sq. mi.)                        0
Pop. Density (per sq. mi.)            0
Coastline (coast/area ratio)          0
Net migration                         0
Infant mortality (per 1000 births)    0
GDP ($ per capita)                    0
Literacy (%)                          0
Phones (per 1000)                     0
Arable (%)                            0
Crops (%)                             0
Other (%)                             0
Climate                               0
Birthrate                             0
Deathrate                             0
Agriculture                           0
Industry                              0
Service                               0
dtype: int64

### Кластеризация

In [16]:
X = pd.get_dummies(df)

In [17]:
X

,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),...,Region_BALTICS,Region_C.W. OF IND. STATES,Region_EASTERN EUROPE,Region_LATIN AMER. & CARIB,Region_NEAR EAST,Region_NORTHERN AFRICA,Region_NORTHERN AMERICA,Region_OCEANIA,Region_SUB-SAHARAN AFRICA,Region_WESTERN EUROPE
0,31056997,647500,48.0,0.00,23.06,163.07,700.0,36.0,3.2,12.13,...,0,0,0,0,0,0,0,0,0,0
1,3581655,28748,124.6,1.26,-4.93,21.52,4500.0,86.5,71.2,21.09,...,0,0,1,0,0,0,0,0,0,0
2,32930091,2381740,13.8,0.04,-0.39,31.00,6000.0,70.0,78.1,3.22,...,0,0,0,0,0,1,0,0,0,0
3,57794,199,290.4,58.29,-20.71,9.27,8000.0,97.0,259.5,10.00,...,0,0,0,0,0,0,0,1,0,0
4,71201,468,152.1,0.00,6.60,4.05,19000.0,100.0,497.2,2.22,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
222,2460492,5860,419.9,0.00,2.98,19.62,800.0,0.0,145.2,16.90,...,0,0,0,0,1,0,0,0,0,0
223,273008,266000,1.0,0.42,0.00,0.00,0.0,0.0,0.0,0.02,...,0,0,0,0,0,1,0,0,0,0
224,21456188,527970,40.6,0.36,0.00,61.50,800.0,50.2,37.2,2.78,...,0,0,0,0,1,0,0,0,0,0
225,11502010,752614,15.3,0.00,0.00,88.29,800.0,80.6,8.2,7.08,...,0,0,0,0,0,0,0,0,1,0
226,12236805,390580,31.3,0.00,0.00,67.69,1900.0,90.7,26.8,8.32,...,0,0,0,0,0,0,0,0,1,0

In [18]:
from sklearn.preprocessing import StandardScaler

In [19]:
scaler = StandardScaler()

In [20]:
scaled_X = scaler.fit_transform(X)

In [21]:
from sklearn.cluster import KMeans

In [22]:
ssd = []

# цикл для определения оптимального количества кластеров

for k in range(2,30):
    model = KMeans(n_clusters=k)
    model.fit(scaled_X)
    # Сумма квадратов расстояний от точек до ближайших центров кластеров
    # (SSD - Sum of squared distances)
    ssd.append(model.inertia_) #записали метрику

In [23]:
model # вывод количества кластеров

KMeans(n_clusters=29)

In [24]:
#model = KMeans(n_clusters=2) # проводит кластеризацию

In [25]:
# Посмотрите видео-лекцию, чтобы узнать разницу между этой командой, fit() и transform()
cluster_labels = model.fit_predict(scaled_X)

In [26]:
# ВАЖНОЕ ЗАМЕЧАНИЕ: Ваши 0 и 1 могут быть противоположными,
# потому что сами номера кластеров не имеют особого смысла!
cluster_labels

array([25,  0, 26, 16,  6, 28, 23, 23,  1, 21, 23, 16,  6,  8, 23,  7, 14,
       23, 21,  6,  9, 10, 20, 25,  9,  0, 27, 17, 23, 14,  0, 10, 25,  2,
       25,  2, 20, 10, 23,  2,  2,  1, 24,  9,  2,  2, 28, 16,  9,  2,  0,
        3,  7,  0,  6, 27,  3,  3, 14,  9, 26,  3, 28, 10, 13,  2, 15, 16,
        6,  6,  9, 16, 28, 10, 22, 21,  6,  2, 15,  6, 20,  3, 23, 16,  9,
        6, 10,  2,  9,  3,  9,  5,  0,  6, 24, 14, 14, 18,  6,  6,  7,  6,
        3,  4,  6,  7, 21, 10, 12, 14,  4,  7, 21, 25, 13, 18, 27,  2, 26,
        6, 13,  6,  5,  0, 10,  2, 14, 14,  2,  6, 12, 23, 10,  3, 10,  9,
       11, 21, 15, 14,  9, 26, 28, 27, 16, 25,  6, 23, 16, 16,  9,  2,  2,
       11,  6, 18, 14, 11,  9, 16,  9,  9, 14,  0,  6,  1,  7, 10,  0, 19,
        2, 27, 23, 23, 20,  3,  3,  6, 12, 18, 10,  0, 10,  2,  5,  0,  0,
       16,  2, 27,  6, 14,  2,  9, 27,  6,  6, 18,  4,  8,  2, 14,  2, 12,
        3, 26, 22,  8,  9, 16,  2, 21,  7,  6, 20,  1,  8, 16,  9, 14, 23,
       16, 22, 26, 18, 27, 27])

In [27]:
X['Cluster'] = cluster_labels

In [28]:
X

,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),...,Region_C.W. OF IND. STATES,Region_EASTERN EUROPE,Region_LATIN AMER. & CARIB,Region_NEAR EAST,Region_NORTHERN AFRICA,Region_NORTHERN AMERICA,Region_OCEANIA,Region_SUB-SAHARAN AFRICA,Region_WESTERN EUROPE,Cluster
0,31056997,647500,48.0,0.00,23.06,163.07,700.0,36.0,3.2,12.13,...,0,0,0,0,0,0,0,0,0,25
1,3581655,28748,124.6,1.26,-4.93,21.52,4500.0,86.5,71.2,21.09,...,0,1,0,0,0,0,0,0,0,0
2,32930091,2381740,13.8,0.04,-0.39,31.00,6000.0,70.0,78.1,3.22,...,0,0,0,0,1,0,0,0,0,26
3,57794,199,290.4,58.29,-20.71,9.27,8000.0,97.0,259.5,10.00,...,0,0,0,0,0,0,1,0,0,16
4,71201,468,152.1,0.00,6.60,4.05,19000.0,100.0,497.2,2.22,...,0,0,0,0,0,0,0,0,1,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
222,2460492,5860,419.9,0.00,2.98,19.62,800.0,0.0,145.2,16.90,...,0,0,0,1,0,0,0,0,0,22
223,273008,266000,1.0,0.42,0.00,0.00,0.0,0.0,0.0,0.02,...,0,0,0,0,1,0,0,0,0,26
224,21456188,527970,40.6,0.36,0.00,61.50,800.0,50.2,37.2,2.78,...,0,0,0,1,0,0,0,0,0,18
225,11502010,752614,15.3,0.00,0.00,88.29,800.0,80.6,8.2,7.08,...,0,0,0,0,0,0,0,1,0,27
226,12236805,390580,31.3,0.00,0.00,67.69,1900.0,90.7,26.8,8.32,...,0,0,0,0,0,0,0,1,0,27

In [29]:
X.corr()['Cluster']

Population                                    0.136140
Area (sq. mi.)                                0.162929
Pop. Density (per sq. mi.)                   -0.041436
Coastline (coast/area ratio)                  0.031775
Net migration                                 0.027171
                                                ...
Region_NORTHERN AMERICA                       0.143560
Region_OCEANIA                                0.081838
Region_SUB-SAHARAN AFRICA                    -0.045852
Region_WESTERN EUROPE                        -0.221074
Cluster                                       1.000000
Name: Cluster, Length: 257, dtype: float64

In [30]:
ssd

[57032.20018822713,
 56318.741244069,
 55902.27222635797,
 55388.86973919922,
 54916.01164785759,
 54351.86696594096,
 53976.4357331911,
 53598.66769297252,
 52942.03670739767,
 52701.710791036385,
 52187.04906754637,
 51903.461109505515,
 51472.028424311204,
 51151.652348300166,
 50634.980539210505,
 50494.23920470979,
 50118.084926562704,
 49644.71257233999,
 49417.17167309337,
 49046.38996345333,
 48696.35778925715,
 48454.34761425059,
 48247.80834625462,
 47935.3364246277,
 47637.50213592749,
 47234.38494475872,
 47078.692782193226,
 46803.34969838065]

In [31]:
# Изменение метрики SSD - текущее минус предыдущее значение!
pd.Series(ssd).diff()

0            NaN
1    -713.458944
2    -416.469018
3    -513.402487
4    -472.858091
5    -564.144682
6    -375.431233
7    -377.768040
8    -656.630986
9    -240.325916
10   -514.661723
11   -283.587958
12   -431.432685
13   -320.376076
14   -516.671809
15   -140.741335
16   -376.154278
17   -473.372354
18   -227.540899
19   -370.781710
20   -350.032174
21   -242.010175
22   -206.539268
23   -312.471922
24   -297.834289
25   -403.117191
26   -155.692163
27   -275.343084
dtype: float64

#### Метод локтя

In [32]:
from sklearn.preprocessing import StandardScaler

In [33]:
scaler = StandardScaler()

In [34]:
scaler.fit(X.drop('Population', axis=1))

StandardScaler()

In [35]:
scaled_features = scaler.transform(X.drop('Population', axis=1))

In [36]:
scaled_data = pd.DataFrame(scaled_features, columns = X.drop('Population', axis=1).columns)

In [37]:
from sklearn.model_selection import train_test_split

In [38]:
x = scaled_data
y = df['Population']

In [39]:
x_training_data, x_test_data, y_training_data, y_test_data = train_test_split(x, y, test_size = 0.3)

In [40]:
from sklearn.neighbors import KNeighborsClassifier

NameError: name 'reduced_data' is not defined

#### Метод силуэта KMeans

In [41]:
X = df.data
y = df.target

AttributeError: 'DataFrame' object has no attribute 'data'

### Классификация

In [42]:
from sklearn.model_selection import  train_test_split

In [43]:
from sklearn.model_selection import cross_val_score, cross_val_predict
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import roc_auc_score

In [44]:
lr = LogisticRegression(random_state=42)

In [45]:
lr.fit(X_train, y_train)

NameError: name 'X_train' is not defined